/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }*/

html {
    font-family: 'Robot', sans-serif;
}

nav {
    background-color: #FF5A33 ;
}

body {

    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    column-gap: 20px;
    row-gap: 20px;
    align-content: center;
}

.recipe {
    justify-self: left;
}

main {

    padding: 16px 16px 16px 16px;

}

footer {
    margin: 10px;
    padding: 20px;
    background-color: #B4CF66;
}

img {

    height:  200px;
}

nav {

    border: 1px solid black;

    padding: 16px;
}

.a-white {
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #B4CF66;
}

tr:nth-child(even) {
    background-color: lightgray;
}

h1 {
    color: #146152;
    font-size: 200%;
}

.veg-taco {
    color: #44803F;
    font-size: 1.25em;
}

th {
    font-style: bold;
}